/* Overlapping Box */
.courseDetail-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.548); 
    z-index: 0; 
}


.courseDetail-content {
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: baseline; 
    align-items: left; 
    font-size: 2rem; 
    background-color: rgb(255, 255, 255);
    padding: 50px;
    background: linear-gradient(to bottom, #e7d392 0%, #ffffff 15%, #ffffff 100%); 
}

.overlapping-box {
    position: absolute; 
    right: 20px; 
    top: 0; 
    width: 20%; 
    height: 50%; 
    background-color: rgba(255, 255, 255, 0.9); 
    border-left: 2px solid #ddd; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin-right: 60px;
    border: 1px solid black;
    overflow: auto;
}

.overlapping-box-image{
    height: 30%;
    width: 100%;
}

.overlapping-box-name{
    font-family: 'Segoe UI';
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
    font-size: bold;
}

.overlapping-box-desc{
    font-family: 'Segoe UI';
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
    font-size: bold;
}

/* Upper Section */
.courseDetail-black-container {
    height: 30%;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: left; 
    font-size: 2rem; 
    background-image:  url('../assets/c.jpg');
    padding: 50px;
    background-size: cover;
    position: relative;
    border-top: 3px solid #e7d392;
}

.courseDetail-name{
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 80px;
    color: black;
    z-index: 1;
}

.courseDetail-desc{
    margin-top: 20px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: black;
    z-index: 1;
}

.courseDetail-creator{
    margin-top: 30px;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 20px;
    color: black;
    z-index: 1;
}
 
/* Lower Section */
.courseDetail-courseContent{
    height: fit-content;
    width: 50%;
    padding: 20px;
}

.courseDetail-courseContent-title{
    font-family: 'Segoe UI';
    font-size: 30px;
    margin-left: 20px;
}

.courseDetail-courseContent-content {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding-top: 20px;
    align-items: left;
}


.courseDetail-courseContent-content > div {
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 8px; 
    text-align: center; 
    font-size: 1rem; 
    color: #333; 
}

.courseDetail-courseContent-content-text{
    display: flex;
    flex-direction: row;
}

.bx.bx-message-rounded-check{
    font-size: 1rem;
    margin-right: 5px;
}

.courseDetail-courseSection-title{
    margin-top: 40px;
    font-family: 'Segoe UI';
    font-size: 20px;
}


.courseDetail-courseSection {
    width: 50%; 
    border: 1px solid black; 
    margin-top: 20px; 
    padding: 0; 
    box-sizing: border-box; 
    border-radius: 15px; 
    overflow: auto;
}


.courseDetail-courseSection-module {
    width: 100%; 
    font-size: 20px; 
    background-color: #f9f9f9; 
    color: #333; 
    border-bottom: 1px solid black; 
    box-sizing: border-box; 
    padding: 10px; 
    margin: 0; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bx.bx-chevron-down{
    margin-right: 20px;
    font-size: 25px;
}


#module6 {
    border-bottom: none !important;
}


.courseDetail-courseSection-content {
    display: none; 
    border-bottom: 1px solid black;
}

.courseDetail-courseSection-content ul {
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.courseDetail-courseSection-content li {
    font-family: 'Segoe UI';
    font-size: 15px;
    list-style-type: none;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.courseDetail-courseSection-content:last-of-type {
    border-bottom: none;
}

.bx.bx-movie-play{
    font-size: 20px;
    margin-right: 7px;
}

.courseDetail-courseSection-module-prev{
    margin-left: 75%;
    display: flex;
    justify-content: flex-end; 
}

.bx.bx-bulb{
    font-size: 20px;
    margin-right: 7px;
}


@media (max-width: 768px) {
    .courseDetail-black-container div {
        font-size: 1rem; 
        padding: 10px; 
        margin: 1%;
    }

    .overlapping-box {
        display: none; 
    }
}

@media (max-width: 480px) {
    .courseDetail-black-container {
        font-size: 1rem; 
        padding: 10px; 
    }
    .overlapping-box {
        display: none; 
    }
}