
/* Section Boxes */
.homepage-title,
.homepage-what-is-this,
.homepage-how-it-works,
.homepage-learn-all-about,
.homepage-stories {
    min-height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 2rem; 
    background-size: cover; 
    background-position: center; 
}

/* Title Section */
.homepage-title {
    background: linear-gradient(to bottom, #e7d392 0%, #ffffff 15%, #ffffff 100%); 
    display: flex;
    flex-direction: column;
}

.homepage-slogan-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.homepage-slogan {
    font-family: 'Segoe UI';
    font-size: 50px;
    color: #4f4d4d;
    overflow: hidden; 
    white-space: nowrap; 
    border-right: 2px solid #000; 
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    width: 32ch;
}


@keyframes typing {
    from { width: 0; }
    to { width: 32ch; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}



.homepage-swiper-container {
    width: 100%;
    height: 100px; 
}

.homepage-swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Segoe UI', sans-serif;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0.5;
    width: 100%;
}

.homepage-swiper-slide.swiper-slide-active {
    font-size: 25px; 
    font-weight: bold; 
    transform: scale(1.2); 
    color: #4f4d4d;
    opacity: 1;
}


.homepage-slogan-option{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.homepage-slogan-option-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
    align-items: center;
    width: 500px;
}

.homepage-slogan-option-text{
    font-family: 'Segoe UI';
    font-size: 20px;
}


.homepage-image{
    max-width: 500px;
    max-height: 500px;
    margin-left: 10%;
}

/* Course Section */
.homepage-what-is-this {
    background-image:  url('../assets/b.jpg');
    display: flex;
    flex-direction: column;
    background-size: 100%;
}

.homepage-what-is-this-sample {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-top: 80px;
}

.homepage-what-is-this-card {
    background-color: #f1f1f1; 
    border-radius: 10px; 
    box-shadow: 
        10px 10px 0px 0px #f4c538, 
        10px 10px 0px 0px black;
    text-align: center;
    font-size: 1.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 80%;
    height: 300px;
    margin: 30px;
    border: 1px solid black
}

.homepage-what-is-this-card h3 {
    color: #4f4d4d;
}

.homepage-what-is-this-card:hover {
    transform: scale(1.05); 
    box-shadow: 
        15px 15px 0px 0px #F4A300, 
        15px 15px 0px 0px #F4A300; 
}

.card-image {
    width: 100%; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 10px 10px 0 0; 
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}

.card-content {
    padding: 10px;
    width: fit-content;
}

.card-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 1rem;
    color: #555;
}

/* Roadmap Section */
.homepage-how-it-works {
    position: relative; 
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/logo.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.homepage-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.548); 
    z-index: 0; 
}

.homepage-content {
    position: relative;
    z-index: 1; 
}

.homepage-works-text{
    font-family: 'Helvetica';
    font-size: 80px;
    font-weight: bold;
    color: #4f4d4d;
    z-index: 1;
}

.homepage-sample-roadmaps {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    margin-top: 80px;
}

.card {
    background-color: #f1f1f1; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center;
    font-size: 1.2rem;
    transition: transform 0.3s ease; 
    min-width: 150px;
    border: 1px solid black;
}

.card:hover {
    transform: translateY(-10px); 
}

.homepage-worksExplore-text{
    font-family: 'Segoe UI';
    font-size: 30px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4f4d4d;
    font-weight: bold;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #4f4d4d; 
}

/* Stories Section */
.homepage-stories {
    padding: 60px 20px;
    background-image:  url('../assets/b.jpg');
    text-align: center;
    display: flex;
    flex-direction: column;
}

.stories-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.stories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.story-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border: 3px solid #CC7722;
}

.story-card:hover {
    box-shadow: 0 6px 10px #e5ddb3;
    transform: translateY(-5px);
}

.story-image-container {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    overflow: hidden; 
    border-radius: 10px; 
}

.story-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.story-text {
    flex-grow: 1;
    text-align: left;
}

.story-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.story-text p {
    font-size: 1rem;
    color: #555;
}


@media (max-width: 768px) {
    .homepage-works-text{
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
    }
}

@media (max-width: 480px) {
    .homepage-works-text{
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
    }
}