
/* Container */
.profile-container {
    display: flex; 
    height: 100%; 
    background: linear-gradient(to bottom, #e7d392 0%, #ffffff 15%, #ffffff 100%); 
    flex-direction: column;
    flex-wrap: wrap;
}

.profile-inner-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

/* Left Section */
.profile-left {
    width: 27%; 
    padding-top: 10px; 
    padding-left: 100px;
    padding-right: 20px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.profile-image {
    width: 150px; 
    height: 150px; 
    background-image: url("../assets/people4.jpg");
    background-size: cover; 
    background-position: center; 
    border-radius: 50%; 
    overflow: hidden; 
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0; 
    text-align: center; 
    font-family: 'Segoe UI'
}

.profile-left-box {
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin: 20px;
}

.profile-badges {
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
}

.profile-certificates {
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
}

.profile-menu {
    width: 100%; 
}

.profile-menu ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.profile-menu li {
    margin-bottom: 10px; 
    font-size: 18px;
    text-align: center; 
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.profile-menu ul li.active {
    background-color: #dda42a; 
    color: white; 
    border-radius: 5px; 
    padding: 10px; 
}

/* Right Section */
.profile-right {
    width: 60%; 
    padding-top: 10px; 
    box-sizing: border-box; 
}


.profile-continue {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px; 
    font-family: 'Segoe UI';
    margin-left: 10%;
}

.profile-explore {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px; 
    font-family: 'Segoe UI'
}

.profile-latest {
    margin-bottom: 10px; 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 10%;
}

a{
    text-decoration: none;
}

a:visited {
    color: inherit; 
}

.profile-latest ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    padding-left: 40px;
}

.profile-latest li {
    margin-bottom: 10px; 
    font-size: 18px;
}


.profile-recommended {
    margin-bottom: 10px; 
    list-style-type: none;
}

.profile-recommended ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    padding-left: 40px;
}

.profile-recommended li {
    margin-bottom: 10px; 
    font-size: 18px;
    
}

.profile-latest-card {
    background-color: #f1f1f1; 
    border-radius: 10px; 
    box-shadow: 
        10px 10px 0px 0px white, 
        10px 10px 0px 0px black; 
    justify-content: center;
    text-align: left;
    font-size: 1.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    width: 500px; 
    height: 120px; 
    border: 1px solid black; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-latest-card:hover {
    transform: scale(1.05); 
    box-shadow: 
        15px 15px 0px 0px black, 
        15px 15px 0px 0px black; 
}

.profile-latest-card-content {
   padding-left: 20px;
}

.profile-latest-card-content p {
    font-size: 16px;
}
 

/* Progress Bar */
@keyframes fillProgress {
    from {
        width: 0%;
    }
    to {
        width: var(--progress-width);
    }
}

* {box-sizing: border-box;}

.profile-stats-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI';
    margin-bottom: 20px;
    margin-top: 10%;
    margin-left: 10%;
}

.profile-stats-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    margin-bottom: 40px;
    margin-left: 10%;
}

.skill-bar {
    width: 100%; 
    background-color: #f1f1f1; 
    border-radius: 25px; 
    overflow: hidden; 
    margin-bottom: 10px;
}

.skills {
    height: 25px; 
    text-align: right;
    padding: 5px;
    color: white;
    border-radius: 25px; 
    justify-content: center;
    width: var(--progress-width);
    animation: fillProgress 2s ease-out; 
}

.frontend { --progress-width: 90%; background-color: #04AA6D;} 
.backend { --progress-width: 80%; background-color: #2196F3;} 
.database { --progress-width: 65%; background-color: #f44336; } 
.blockchain { --progress-width: 60%; background-color: #808080; } 


