

.roadmaps-container{
    background: linear-gradient(to bottom, #e7d392 0%, #ffffff 15%, #ffffff 100%); 
    display: flex;
    flex-direction: column;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto; 

    margin: 20px; 
    margin-bottom: 150px;
}

.roadmaps-carousel {
    padding: 0px; 
    box-sizing: border-box; 
    width: 65%; 
    max-width: 1200px; 
    margin-top: 0px;
}

.swiper-container {
    width: 100%; 
    height: 500px; 
}

.swiper-wrapper {
    display: flex; 
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
}

.slide-content {
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 0px; 
    width: 100%; 
    height: 100%; 
    transition: transform 0.3s ease; 
    border: 1px solid black;
    overflow: hidden;
}

.slide-content-image1 {
    background-image: url("../assets/programmingA.jpeg");
    background-size: cover; 
    background-position: center; 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slide-content-image2 {
    background-image: url("../assets/programmingB.jpeg");
    background-size: cover; 
    background-position: center; 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slide-content-image3 {
    background-image: url("../assets/programmingC.jpeg");
    background-size: cover; 
    background-position: center; 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slide-content-image4 {
    background-image: url("../assets/programmingD.jpeg");
    background-size: cover; 
    background-position: center; 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slide-content-text {
    display: flex;
    bottom: 10px; 
    left: 10px; 
    color: white; 
    padding: 5px 10px;
    font-size: 70px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
    margin: 3%;
}

.swiper-slide-active .slide-content {
    transform: translateY(-15px); 
}


.swiper-pagination-bullet {
    background: #000;
}

.swiper-button-next,
.swiper-button-prev {
    color: white; 
    width: 80%; 
    height: 80%; 
    top: 50%; 
    transition: background-color 0.3s, transform 0.3s ease;
    margin: 40px;
    background-color: rgba(74, 75, 79, 0.7); 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 15px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    transform: translateY(-50%) scale(1.2); 
}

.swiper-button-next {
    right: 20px; 
}

.swiper-button-prev {
    left: 20px; 
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: white; 
}


.roadmaps-title-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px 0; 
}


.roadmaps-title {
    font-size: 2rem; 
    font-weight: bold; 
    text-align: center; 
    color: #333; 
    padding: 10px 20px; 
    width: 100%; 
    max-width: 800px; 
    box-sizing: border-box; 
}